gray-00 = #2d2d2d
gray-01 = #393939
gray-02 = #515151
gray-03 = #747369
gray-04 = #a09f93
gray-05 = #d3d0c8
gray-06 = #e8e6df
gray-07 = #f2f0ec

background = gray-00
foreground = gray-05
bPurple = #cc99cc
bBlue   = #6699cc
bAqua   = #66cccc
bGreen  = #99cc99
bYellow = #ffcc66
bOrange = #f99157
bRed    = #f2777a
